/* Base styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #e0e5ec;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(50, 50, 50, 0.3);
}

body .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  border-radius: 4px;
  padding: 0.5em;
  width: 100%;
}

input::placeholder {
  font-size: 0.8rem;
}

button#generate {
  margin-top: 0.5em;
  background: navy;
}

button#generate:hover {
  opacity: 0.8;
}

/* Utility classes */
button {
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 4px;

  font-weight: bolder;
  padding: 10px 20px;
  background: #262626;
  color: #ddd;
  font-size: 15px;
  box-shadow: 0 0 8px 2px rgba(100, 100, 100, 0.9);
}

button:hover {
  opacity: 0.8;
  transition: 0.4s ease;
}

.dark {
  color: #fff;
}

.dark button {
  background: #f4f4f4;
  color: #333;
}

/* Main styles */
#app {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 60%;
  border-radius: 4px;
  background: #e0e5ec;
  color: #333;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

/* Holder styles */

.holder.headline {
  padding: 1rem 0 1rem;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 700px) {
  .holder.headline {
    font-size: 1.8rem;
  }
}

.holder.zip {
  display: flex;
  padding: 0 0.5em 0;
  flex-direction: column;
  margin-bottom: 2rem;
  text-align: center;
}

.holder.feel {
  display: flex;
  max-width: 90%;
  flex-direction: column;
  margin-bottom: 2rem;
  text-align: center;
}

.holder.feel .myInput {
  padding: 0.5em;
  border-radius: 4px;
}

/* .holder.entry {
  display: flex;
  flex-direction: column;
} */

/* Entry Holder and Children Styles */
.entry .title {
  display: none;
  text-align: center;
  padding: 0 1em 0;
}

#entryHolder {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
}
